user = {{ pdm_mailserver_mysql_user }}
password = {{ pdm_mailserver_mysql_password }}
hosts = {{ pdm_mailserver_mysql_host }}
dbname = {{ pdm_mailserver_mysql_database }}
query = SELECT 1 FROM virtual_domains WHERE name='%s'
