#!/bin/bash
set -o nounset
set -o errexit

export PATH=$PATH:/usr/sbin:/sbin:/usr/bin:/bin:/usr/local/bin/

function info { echo -e "$( date +%T )" "\033[1;33m  $1\033[0m"; }
function ok { echo -e "$( date +%T )" "\033[1;32m  $1\033[0m"; }
function error { echo -e "$( date +%T )" "\033[1;31m  Error: $1\033[0m"; }
function die { error "$1"; exit 1; }

function main {

        local maildir
        local backup_bucket

        maildir="{{ ansible_pdm_mailserver_mail_dir }}"
        backup_bucket="s3://{{ ansible_pdm_mailserver_aws_s3_backup_bucket }}"

        set +e
        service dovecot stop

        info "Ensuring there are no empty folders"
        sudo -u vmail \
                bash -c \
                        'find '"${maildir}"' \
                        -type d \
                        -empty \
                        -exec touch {}/.s3keep \;'
        set -e

        info "Starting backup"
        aws s3 sync \
                --delete \
                "${maildir}" \
                "${backup_bucket}"/mail \
                || die "Failed to synchronise mail"
        ok "Mail synchronised"

        service dovecot start

}

main "$@"
