user = {{ ansible_pdm_mailserver_mail_db_username }}
password = {{ ansible_pdm_mailserver_mail_db_password }}
hosts = 127.0.0.1
dbname = {{ ansible_pdm_mailserver_mail_db_database }}
query = SELECT destination FROM virtual_aliases WHERE source='%s'
