redis {
        servers_grey = {{ ansible_pdm_mailserver_redis_host }}:{{ ansible_pdm_mailserver_redis_port }};
        servers_white = {{ ansible_pdm_mailserver_redis_host }}:{{ ansible_pdm_mailserver_redis_port }};
        servers_limits = {{ ansible_pdm_mailserver_redis_host }}:{{ ansible_pdm_mailserver_redis_port }};
        servers_id = {{ ansible_pdm_mailserver_redis_host }}:{{ ansible_pdm_mailserver_redis_port }};
        id_prefix = "message_id.";
        grey_prefix = "grey.";
        white_prefix = "white.";
        connect_timeout = 1s;
        error_time = 10;
        dead_time = 300;
        maxerrors = 10;
}
