
CREATE TABLE `virtual_domains` (
  `id` int(11) NOT NULL auto_increment,
  `name` varchar(50) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE TABLE `virtual_users` (
  `id` int(11) NOT NULL auto_increment,
  `domain_id` int(11) NOT NULL,
  `password` varchar(106) NOT NULL,
  `email` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  FOREIGN KEY (domain_id) REFERENCES virtual_domains(id) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE TABLE `virtual_aliases` (
  `id` int(11) NOT NULL auto_increment,
  `domain_id` int(11) NOT NULL,
  `source` varchar(100) NOT NULL,
  `destination` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  FOREIGN KEY (domain_id) REFERENCES virtual_domains(id) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

{% if pdm_mailserver_virtual_domains | length %}
  {% for virtual_domain in pdm_mailserver_virtual_domains %}

INSERT INTO `mailserver`.`virtual_domains`
  (`name`)
VALUES
  ('{{ virtual_domain }}');

  {% endfor %}
{% endif %}

{% if pdm_mailserver_users | length %}
  {% for user in pdm_mailserver_users %}

INSERT INTO `mailserver`.`virtual_users`
  (`domain_id`, `password` , `email`)
  SELECT id, '{{ user.password }}', '{{ user.email }}'
    FROM virtual_domains
    WHERE `name` = '{{ user.virtual_domain }}';

    {% endfor %}
{% endif %}

{% if pdm_mailserver_virtual_aliases | length %}
  {% for alias in pdm_mailserver_virtual_aliases %}

INSERT INTO `mailserver`.`virtual_aliases`
  (`domain_id`, `source`, `destination`)
  SELECT id, '{{ alias.source }}', '{{ alias.destination }}'
    FROM virtual_domains
    WHERE `name` = '{{ alias.virtual_domain }}';

    {% endfor %}
{% endif %}
